{% extends "app/base.html" %}
{% block title %}{% endblock title %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}

<div class="alert alert-danger text-center mt-2"><h2>Not Approved Data</h2></div>
<div class="container py-5">
    <div class="row g-4">
      <!-- Card Example -->
       {% if data1%}
       {% for d in data1 %}
            <div class="col-md-6 col-lg-3">
                <div class="card custom-card">
                    <img src="{{d.blog_photo.url}}" class="card-img-top custom-card-img" alt="Nature">
                    <div class="custom-card-body">
                        <div>
                        <h5 class="custom-card-title">{{d.blog_title}}</h5>
                        <p class="custom-card-text">{{d.blog_description}}</p>
                        </div>
                        <a href="{% url "userblogitem" d.id %}" class="btn custom-card-btn-1 mt-auto w-100">Read More</a>
                        {% if request.user.is_superuser %}
                            <a href="{% url "approval" d.id %}" class="btn custom-card-btn-2 mt-1 w-100">Give Approval</a>
                        {% endif %}
                    </div>
                </div>
            </div>
      {% endfor %}
      {% else %}
            <h3>No Data Found</h3>
      {% endif %}
    </div>
</div>

<div class="alert alert-primary text-center mt-2"><h2>Approved Data</h2></div>
<div class="container py-5">
    <div class="row g-4">
      <!-- Card Example -->
       {% if data2 %}
       {% for d in data2 %}
            <div class="col-md-6 col-lg-3">
                <div class="card custom-card">
                    <img src="{{d.photo.url}}" class="card-img-top custom-card-img" alt="Nature">
                    <div class="custom-card-body">
                        <div>
                        <h5 class="custom-card-title">{{d.title}}</h5>
                        <p class="custom-card-text">{{d.description}}</p>
                        </div>
                        <a href="{% url "itemdetails" d.id %}" class="btn custom-card-btn-1 mt-auto w-100">Read More</a>
                        {% if request.user.is_superuser %}
                            <a href="#" class="btn custom-card-btn-2 mt-1 w-100">Reject Approval</a>
                        {% endif %}
                    </div>
                </div>
            </div>
      {% endfor %}
      {% else %}
            <h2>Not Approved Data Found</h2>
      {% endif %}
    </div>
</div>

{% endblock content %}
